body {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);

    /*scroll time baby*/
    position: relative;
    overflow-y: scroll;

    /*allows for smooth scrolling so pls keep*/
    height: 800px;
  }
.h1{
    width: 100%;
    height: 100px;
    position:relative; top:40px;
    display: inline;
    justify-content: center;
    font-family: 'Poppins', serif;
}

 /*.h1 {
    padding: 30px; 
}
h1 {
    color:#fff;
    font-size: 5rem;
    text-align: center;
}*/

/*header but i called it banner, it helps my thought process*/
.banner{
    min-height: 22.5%;
    min-width: 1024px; 

    padding: 5px;
    text-align: center;
    color: white;
    font-size: 30px;
    background:  #565264;
     
}                       

.nav {
    height: 80px;
    flex: 100%;
    display: flex;
}
  
.nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

.nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

.nav a, .nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

#search-bar {
    display: inline-block;
    width: 180px;
    height: 30px;
}

label {
    font-size: 1.8rem;
    color: black;
}

.container {
    margin-top: 300px;
}

.footer {
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: rgb(87, 110, 136);
}

/*footer at the bottom */
.footer {
    padding: .2%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background:#565264;
  }


 /*nav bar */ 
.nav {
    margin-top: 50px;
    height: 50px;
    flex: 100%;
    display: flex;
    background-color: #565264;
}
  
.nav ul {
    padding: 5;
    list-style-type: none;
    flex: 2;
    display: flex;
}

.nav li {
    display: inline-block;
    text-align: center;
    flex: 1;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.nav a, .nav span {
    display: inline-block;
    margin-top: 30px;
    font-size: 1rem;
    height: 2rem;
    line-height: 1rem;
    text-transform: uppercase;
    text-decoration: center;
    color:rgb(255, 255, 255);
}

/* actual search bar */
#search-bar {
    display: inline-block;
    width: 180px;
    height: 30px;
    margin-top: 20px;
}

/*this is control the 'search' text bar above the ACTUAL search bar*/
label {
    margin-top: 60px;
    font-size: 1rem;
    color: white;
}

.container {
    margin-top: 50px;
}

.box {
border-color: none;
box-shadow: none;
justify-content: center;
}

.box2 {
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(140, 252, 140);
    border: 1px solid rgb(0, 138, 223);
}
.Rname {
    font-size: 1.3rem;
    font-weight: 700;
}

.Name {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
}

.restaurant_box {
    margin-left: 10%;
    text-align: left;
}


.restaurant-target-list {
    text-align: center;
    color: black;
}

.monuments-target-list {
    text-align: center;
    color: black;
}

/* iamge */
img {
    width: 250px;
    height: 180px;
    margin-left: 35%;
    padding: 10px;
    margin-top: 2px;
}

/* restaurant list */
.box1 {
    border-color: none;
    box-shadow: none;
    border: 10px solid white; 
    border-radius: 0px;
    padding: 10px;
    margin-top: 5%;
    width: 300px;
    margin-left: -100%;
}


