.nav {
    height: 50px;
    flex: 100%;
    display: flex;
}
.nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

.nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

.nav a, .nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.flex-outer {
    display: inline-block;
    width: 180px;
    height: 30px;
}