body {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    color: #fff;
    

    /*scroll time baby*/
    position: relative;
    overflow-y: scroll;

    /*allows for smooth scrolling so pls keep*/
    height: 1200px;

  }
  .h1{
    width: 100%;
    height: 100px;
    position:relative; top:40px;
    display: inline;
    justify-content: center;
    font-family: 'Poppins', serif;
}

.h2{
    font-weight: 300;
    color: black;
    letter-spacing: .09em;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', serif;
}

/*header but i called it banner, it helps my thought process*/
.banner{
    min-height: 14.8%;
    min-width: 100%;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 30px;
    background: #565264;
    margin-bottom: -.2px;
     
}    
.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content:space-between;
  -ms-justify-content: space-between;
  justify-content:center;
  border: 0px;
}
.box {
  border-radius: 0px;
  width: 800px;
  height: 800px;
  padding-left: 25px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 60px;
  background-color: rgb(233, 233, 233);
}
/*the form in the box*/
.content{                           
  margin-top: -100px;
  width: 750px;
  height: 550px;
}



/* css from lab 8? */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.container * {
    box-sizing: border-box;
  }

.flex-outer,        /*idk what this does? --- UPDATE: keep it*/
.flex-inner {
    list-style-type: none;
    padding: 0px;
    position: relative;
    bottom: 90px;
  }  

.flex-outer {                           /*moves things from left or right*/
    max-width: 800px;
    margin: 0 auto;
  }
.flex-outer li, 
.flex-inner{        /* moves the entirety */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.flex-inner {               /*idk what this does?  ---UPDATE: MORE SPACING*/
    padding: 0 8px;
    justify-content: space-between;  
  }

.flex-outer > li:not(:last-child) {   /*changes the spacing between rows*/
    margin-bottom: -10px;
  }

.flex-outer li label,                 /*labels like 'name' 'phone' etc */
.flex-outer li p {
    padding: 2px;
    font-weight: 300;
    color: black;
    letter-spacing: .09em;
    font-family: 'Poppins', serif;
    position: relative;
    bottom: 20px;
  }

.flex-outer>li>label, 
.flex-outer li p{       /* changes spacing between the labels and entry boxes*/
    flex: 1 0 120px;
    max-width: 800px;
}

.flex-outer>li>label + *, 
.flex-inner{
    flex: 1 0 220px;
}

.flex-outer li p {    /*idk what this does?*/
    margin: 0;
  }

.flex-outer li input:not([type='checkbox']),  /*no check boxes used yet? keeping in case*/
.flex-outer li textarea {
    padding: 15px;
    border: none;
  }

.flex-outer li button{                      /*submit button*/
    padding: 4px 16px;
    border: none;
    background: rgb(223, 166, 245);
    color:white;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    margin-top: 35px;
    margin-left: 279px;
}

.flex-inner li {        /*idk what this does?*/
    width: 100px;
}

.flex-inner{
    justify-content: space-between
}

/*footer at the bottom */
.footer {
  padding: .2%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background:#565264;
}

/*nav bar */ 
.nav {
  margin-top: 50px;
  height: 50px;
  flex: 100%;
  display: flex;
  background-color: #565264;
}

.nav ul {
  padding: 5;
  list-style-type: none;
  flex: 2;
  display: flex;
}

.nav li {
  display: inline-block;
  text-align: center;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.nav a, .nav span {
  display: inline-block;
  margin-top: 30px;
  font-size: 1rem;
  height: 2rem;
  line-height: 1rem;
  text-transform: uppercase;
  text-decoration: center;
  color:rgb(255, 255, 255);
}

/* actual search bar */
#search-bar {
  display: inline-block;
  width: 180px;
  height: 30px;
  margin-top: 20px;
}

/*this is control the 'search' text bar above the ACTUAL search bar*/
label {
  margin-top: 60px;
  font-size: 1rem;
  color: white;
}

.span {
  display: block;
}

.restaurant-target-list {
  text-align: center;
  color: black;
}

.monuments-target-list {
  text-align: center;
  color: black;
}

.button {
  margin-left: 300px;
}
